<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://qwladder.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>qwladder.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>qwladder</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$qwladder</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:hn1k087f8p.database.windows.net,1433;Initial Catalog=qwladder_db;User ID=qwladder@hn1k087f8p;Password=M1nds3x1st" Name="Data Source=tcp:hn1k087f8p.database.windows.net,1433;Initial Catalog=qwladder_db;User Id=qwladder@hn1k087f8p;Password=M1nds3x1st" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="QWLadderAspWebApp.Models.ApplicationDbContext, QWLadderAspWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:hn1k087f8p.database.windows.net,1433;Initial Catalog=qwladder_db;User Id=qwladder@hn1k087f8p;Password=M1nds3x1st</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>